# Pick either release or debug. Almost always "release".
GIN_MODE=release

# What address and port will TPS listen on?
BIND_ADDR=:8080

# Turnstile keys - you need to have a cloudflare login for this
TURNSTILE_SITE_KEY=foo
TURNSTILE_SECRET_KEY=bar

# Choose something long and secure here for encrypting the JWT cookie
JWT_SIGNING_KEY=shhhhhh-this-is-very-secret

# What is the base URL that TPS is protecting? This should be a *private* URL,
# not a public URL, as Caddy and TPS should be fronting the protected app.
PROXY_TARGET="http://localhost"

# Where will you record the stats? This is a DSN to a MariaDB database.
DATABASE_DSN="user:pass@tcp(host:3306)/dbname?parseTime=true"

# Where are custom templates (if any) found?
TEMPLATE_PATH="/var/local/tps/templates"
